{% extends "language.html" %}

{% block language-name %}F#{% endblock language-name %}

{% block history %}
<p><a href="https://fsharp.org/">F#</a> (pronounced f-sharp) is a strongly-typed, functional programming language that runs on the .NET framework. The language was born out of a project led by Don Syme at Microsoft Research in 2005. Today, F# is officially governed by the F# Software Foundation, which is independent of Microsoft. The language now also works across the Windows, Mac, and Linux platforms.</p>
{% endblock history %}

{% block uses %}
<p>F# is a general purpose programming language. Often times, it will be used as a replacement for C#, another programming language from Microsoft. Developers have also used F# for web programming (it can compile to JavaScript), application development, and a variety of tasks that involve business analytics.</p>
{% endblock uses %}