{% extends "base.html" %}

{% block content %}
<h1>Programming Languages</h1>

<p>This site provides a brief overview of several popular programming languages. Each page includes a quick summary of the language's history as well as a few examples of how it is used today.</p>

<div class="container">
    <div class="row">
        <div class="col-6">{% include "pythonCard.html" %}</div>
        <div class="col-6">{% include "fsharpCard.html" %}</div>
    </div>
    <div class=row>
        <div class="col-3"></div>
        <div class="col-6">{% include "racketCard.html" %}</div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock content %}