{% extends "language.html" %}

{% block language-name %}Racket{% endblock language-name %}

{% block history %}
<p><a href="https://racket-lang.org/">Racket</a> is a general purpose programming language derived from the Lisp family. Racket first appearedin 1995. It was created by Matthias Felleisen and a group of academics as a language for novice programmers. Racket also has a robust macro system which lends itself to creating domain-specific languages.</p>
{% endblock history %}

{% block uses %}
<p>Given the academic nature to Racket's inception, it is no surprise that Racket is most popular in the educational setting. In addition to university-level courses, the Racket community has worked hard to address Coputer Science education for K12 students. Projects like Bootstrap World and the Pyret language come from the Racket community.</p>
{% endblock uses %}